$background: #4D5C74;
$field: #DBDBDA;
$header: #252225;
$text: #3C3C43;
$notice: #A62D36;

$border: #bbb;
$link: #DBDBDA;
$header: #DBDBDA;

@mixin shadow {

	-moz-box-shadow:
		2px 2px 3px rgba(000,000,000,0.4),
		inset 0px 0px 1px rgba(073,094,235,1);
	-webkit-box-shadow:
		2px 2px 3px rgba(000,000,000,0.4),
		inset 0px 0px 1px rgba(073,094,235,1);
	box-shadow:
		2px 2px 3px rgba(000,000,000,0.4),
		inset 0px 0px 1px rgba(073,094,235,1);
}

body {
	background: $background;
	font-family: "Trebuchet MS";
	color: $text;
}

header {
	h1 {
		font-family: "Trebuchet MS";
		color: $header;
	 	text-shadow: 1px 1px 1px $text;
		text-align: center;
		text-transform: uppercase;
	}
}

#main {
	position: relative;
}

#left {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	width: 300px;

	.wsad {
		width: 60%;
		margin: 0 auto;
		text-align: center;
		&.text {
			margin-bottom: 15px;
		}
		&.w {margin-bottom: 0px;}
		&.sad {margin-bottom: 10px;}

		.punch {
		  color: #3C3C43;
		  padding: 5px;
		  font-size: 3rem;
		  margin: 5px 5px;
		  text-align: center;
		  text-decoration: none;
		  text-shadow: 1px 1px 0px #939dc2;
		  -webkit-background-clip: padding-box;
		}

	  .punch:hover {
	    text-decoration: none;
	    cursor: pointer;
	  }
	  .punch:active, .punch.pressed {
	    margin-top: 58px; 
	  }
		    
		a.wsad {
		  width: 40px;
		  height: 40px;
		}
	}
}

#right {
	position: absolute;
	left: 300px;
	top: 0;
	bottom: 0;
	right: 0;

	#wormfield {
		@include shadow;

		margin: 40px auto;
		border-collapse: collapse;

		td {
			width: 22px;
			height: 22px;
			min-width: 22px;
			min-height: 22px;
			max-width: 22px;
			max-height: 22px;
			border: 1px solid $border;
			text-align: center;
			background: $field;


			img  { 
				height:18px;
				width:18px;
				margin: 0;
				padding: 0;

				&.up { 
					-webkit-transform: rotate(-90deg); 
					-moz-transform: rotate(-90deg); 
					-ms-transform: rotate(-90deg); 
					-o-transform: rotate(-90deg); 
					filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
				}
				&.down { 
					-webkit-transform: rotate(90deg); 
					-moz-transform: rotate(90deg); 
					-ms-transform: rotate(90deg); 
					-o-transform: rotate(90deg); 
					filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
				}
				&.right { 
					-webkit-transform: rotate(0deg); 
					-moz-transform: rotate(0deg); 
					-ms-transform: rotate(0deg); 
					-o-transform: rotate(0deg); 
					filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
				}
				&.left { 
					-webkit-transform: rotate(-180deg); 
					-moz-transform: rotate(-180deg); 
					-ms-transform: rotate(-180deg); 
					-o-transform: rotate(-180deg); 
					filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=4);
				}
			}
		}
	}
}

.infoboard {
	text-align: center;
	padding: 30px 0;
	table {
		width: 100%;
		td {
			width: 30%;

			
		}
	}
}

.wormbuttons {
	text-align: center;
	a {
		@include shadow;
		display: block;
		margin: 0 auto 10px;
		color: #fff;
		width: 30%;
		text-decoration: none;
		padding: 10px 20px;
		vertical-align: middle;
		background: $field;
		color: #555;

		* {
			vertical-align: middle;
		}

		img {
			width: 20px;
			height: 20px;
		}

		&:hover {
			background: #ccc;
		}
	}
}

.scoreboard {
	margin: 0 auto;

	#count {
	 width: 100%;
	  .logos {
	 		text-align: center;
	 		img {

				&.pacman {
					height: 37px;
					width: 37px;
				}

				&.meduze {
				 	height:50px;
				 	width:50px;
				}
			}
		}
		.rubyman, .enemycount {
		 	text-align: center;
		 	color: $header;
		 	font-size: 3rem;
		 	text-shadow: 2px 2px 1px $text;

		 	&.died {
		 		text-decoration:line-through;
		 	}
		}
	}
}



.credits {
	padding: 50px 0;
	color: $text;
	text-align: center;
	a {
		text-decoration: none;
		color: $link;
		display: block;
	}
}

div.attention {  
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index:200;

	.content {
		position: relative;
		margin-top: 40%;
		margin: 200px auto;
		width: 60%;
		text-align: center; 
		z-index: 200;

		h1 {
			font-size: 3rem;
			color: $header;
			text-shadow: 2px 2px 0px $text;
		}
		p {
			position: relative;
			color: $header;
			text-shadow: 2px 2px 0px $text;
			width: 200px;
			margin: 0 auto;
			z-index: 200;
			text-align: center;
		}
	}

	.backdrop {
		position: absolute;
		background: #333;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		z-index: 100;
		opacity: 0.8;
	}
}

.sources {
	display: none;
}