body {
	background: #666;
	font-family: "Trebuchet MS";
	color: white;
}

header {
	h1 {
		font-family: "Trebuchet MS";
		color: white;
		text-align: center;
	}
}

.info {
	text-align: center;
}

.wormbuttons {
	text-align: center;
	a {
		display: inline-block;
		margin-right: 15px;
		color: #fff;
		text-decoration: none;
	}
}

.scoreboard{
	width: 200px;
	margin: 0 auto;
}



a.worm img {
	width: 20px;
	margin: 5px;
}

a.worm { 
	text-align:center;
	margin: 5px;
	height: 30px;
	width: 120px;
}
a.worm i {
	vertical-align: middle;
	margin: 7px
}

div.attention {   
	width: 100%;
	color: black;
	background-color: #fff;
	text-align: center; 
	border: 10px solid #666;
	z-index:200;
}

#count {
 width: 100%;
 .logos {
 		text-align: center;
 		img {
		 	height:50px;
		 	width:50px;
		}
	}
 .rubyman, .enemycount {
 	text-align: center;
 	color: white;
 	&.died {
 	text-decoration:line-through;
 	}
 }
}
#wormfield {

//position:fixed;
//top:20px;
//right:-200px;
	margin: 30px auto;
	
}
.span3 {
text-align: center;
}

p.wsad {
height: 60px;
}

p.log {
	font-size: 8px;
}

table#wormfield td {
	width: 22px;
	height: 22px;
	border: 1px solid #000;
	text-align: center;
		font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #ffffff;
/*	padding: 10px 30px;*/
	background: -moz-linear-gradient(
		top,
		#7eb6e6 0%,
		#2e6cb8);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#7eb6e6),		to(#2e6cb8)); 
	border: 1px solid #ffffff;
	-moz-box-shadow:
		2px 2px 3px rgba(000,000,000,0.4),
		inset 0px 0px 1px rgba(073,094,235,1);
	-webkit-box-shadow:
		2px 2px 3px rgba(000,000,000,0.4),
		inset 0px 0px 1px rgba(073,094,235,1);
	box-shadow:
		2px 2px 3px rgba(000,000,000,0.4),
		inset 0px 0px 1px rgba(073,094,235,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,0.3); 
}

table#wormfield td:hover {
	cursor:pointer;
}

.selected{    
}

div.worm {
	border-radius: 15px;
/*	background-color: #fff;*/
	height:80%;
	width:80%; 
	
}

.chicken { 
	background-color: transparent ; //#fff;
	height:100%;
	width:100%
}
 


img#worm, td img  { 
	height:100%;
	width:100%;
	&.up { 
		-webkit-transform: rotate(-90deg); 
		-moz-transform: rotate(-90deg); 
		-ms-transform: rotate(-90deg); 
		-o-transform: rotate(-90deg); 
		filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	}
	&.down { 
		-webkit-transform: rotate(90deg); 
		-moz-transform: rotate(90deg); 
		-ms-transform: rotate(90deg); 
		-o-transform: rotate(90deg); 
		filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	}
	&.right { 
		-webkit-transform: rotate(0deg); 
		-moz-transform: rotate(0deg); 
		-ms-transform: rotate(0deg); 
		-o-transform: rotate(0deg); 
		filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
	}
	&.left { 
		-webkit-transform: rotate(-180deg); 
		-moz-transform: rotate(-180deg); 
		-ms-transform: rotate(-180deg); 
		-o-transform: rotate(-180deg); 
		filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=4);
	} 	
} 



 
